In [1]:
from pyspark.sql import SparkSession
spark = SparkSession \
.builder \
.appName('creating_sql_tables') \
.config('spark.shuffle.useOldFetchProtocol' , 'true') \
.config('spark.sql.warehouse.dir' , 'user/itv006879/warehouse') \
.enableHiveSupport() \
.master('yarn') \
.getOrCreate()\

In [3]:
spark.sql('create database if not exists lending_club_proj_6879')

++
||
++
++

In [7]:
spark.sql(''' 
create EXTERNAL TABLE lending_club_proj_6879.customers(member_id string,emp_title
string,emp_length int, home_ownership string,annual_income
float,address_state string,address_zipcode string,address_country
string,grade string,sub_grade string,verification_status
string,total_high_credit_limit float,application_type
string,join_annual_income float,verification_status_joint string,ingest_date
timestamp) stored as parquet location '/public/trendytech/lendingclubproject/cleaned/customers_parquet'
''')

++
||
++
++

In [16]:
spark.sql('describe formatted lending_club_proj_6879.customers').show(100 , truncate = False)

+----------------------------+--------------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                                   |comment|
+----------------------------+--------------------------------------------------------------------------------------------+-------+
|member_id                   |string                                                                                      |null   |
|emp_title                   |string                                                                                      |null   |
|emp_length                  |int                                                                                         |null   |
|home_ownership              |string                                                                                      |null   |
|annual_income               |float                                                                                       |null   |
|address_state               |string                                                                                      |null   |
|address_zipcode             |string                                                                                      |null   |
|address_country             |string                                                                                      |null   |
|grade                       |string                                                                                      |null   |
|sub_grade                   |string                                                                                      |null   |
|verification_status         |string                                                                                      |null   |
|total_high_credit_limit     |float                                                                                       |null   |
|application_type            |string                                                                                      |null   |
|join_annual_income          |float                                                                                       |null   |
|verification_status_joint   |string                                                                                      |null   |
|ingest_date                 |timestamp                                                                                   |null   |
|                            |                                                                                            |       |
|# Detailed Table Information|                                                                                            |       |
|Database                    |lending_club_proj_6879                                                                      |       |
|Table                       |customers                                                                                   |       |
|Owner                       |itv006879                                                                                   |       |
|Created Time                |Tue Oct 03 11:07:37 EDT 2023                                                                |       |
|Last Access                 |UNKNOWN                                                                                     |       |
|Created By                  |Spark 3.1.2                                                                                 |       |
|Type                        |EXTERNAL                                                                                    |       |
|Provider                    |hive                                                                                        |       |
|Table Properties            |[transient_lastDdlTime=1696345657]                                                          |       |
|Statistics                  |193848497 bytes                                                                             |       |
|Location                    |hdfs://m01.itversity.com:9000/public/trendytech/lendingclubproject/cleaned/customers_parquet|       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe                                 |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat                               |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat                              |       |
|Storage Properties          |[serialization.format=1]                                                                    |       |
|Partition Provider          |Catalog                                                                                     |       |
+----------------------------+--------------------------------------------------------------------------------------------+-------+

In [15]:
spark.sql('describe extended lending_club_proj_6879.customers').show(100 , truncate = False)

+----------------------------+--------------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                                   |comment|
+----------------------------+--------------------------------------------------------------------------------------------+-------+
|member_id                   |string                                                                                      |null   |
|emp_title                   |string                                                                                      |null   |
|emp_length                  |int                                                                                         |null   |
|home_ownership              |string                                                                                      |null   |
|annual_income               |float                                                                                       |null   |
|address_state               |string                                                                                      |null   |
|address_zipcode             |string                                                                                      |null   |
|address_country             |string                                                                                      |null   |
|grade                       |string                                                                                      |null   |
|sub_grade                   |string                                                                                      |null   |
|verification_status         |string                                                                                      |null   |
|total_high_credit_limit     |float                                                                                       |null   |
|application_type            |string                                                                                      |null   |
|join_annual_income          |float                                                                                       |null   |
|verification_status_joint   |string                                                                                      |null   |
|ingest_date                 |timestamp                                                                                   |null   |
|                            |                                                                                            |       |
|# Detailed Table Information|                                                                                            |       |
|Database                    |lending_club_proj_6879                                                                      |       |
|Table                       |customers                                                                                   |       |
|Owner                       |itv006879                                                                                   |       |
|Created Time                |Tue Oct 03 11:07:37 EDT 2023                                                                |       |
|Last Access                 |UNKNOWN                                                                                     |       |
|Created By                  |Spark 3.1.2                                                                                 |       |
|Type                        |EXTERNAL                                                                                    |       |
|Provider                    |hive                                                                                        |       |
|Table Properties            |[transient_lastDdlTime=1696345657]                                                          |       |
|Statistics                  |193848497 bytes                                                                             |       |
|Location                    |hdfs://m01.itversity.com:9000/public/trendytech/lendingclubproject/cleaned/customers_parquet|       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe                                 |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat                               |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat                              |       |
|Storage Properties          |[serialization.format=1]                                                                    |       |
|Partition Provider          |Catalog                                                                                     |       |
+----------------------------+--------------------------------------------------------------------------------------------+-------+

In [17]:
spark.sql("""
CREATE EXTERNAL TABLE lending_club_proj_6879.loans(loan_id
string,member_id string,loan_amount float,funded_amount
float,loan_term_years integer,interest_rate float,monthly_installment
float,issue_date string,loan_status string,loan_purpose string,loan_title
string,ingest_date timestamp) stored as parquet
LOCATION '/public/trendytech/lendingclubproject/cleaned/loans_parquet'
""")

++
||
++
++

In [18]:
spark.sql("""
CREATE EXTERNAL TABLE lending_club_proj_6879.loans_repayments(loan_id
string,total_principal_received float,total_interest_received
float,total_late_fee_received float,total_payment_received
float,last_payment_amount float,last_payment_date string,next_payment_date
string,ingest_date timestamp) stored as parquet
LOCATION '/public/trendytech/lendingclubproject/cleaned/loans_repayments_parquet'
""")

++
||
++
++

In [19]:
spark.sql("""
CREATE EXTERNAL TABLE lending_club_proj_6879.loans_defaulters_delinq(member_id
string,delinq_2yrs integer,delinq_amnt float,mths_since_last_delinq integer)
stored as parquet LOCATION '/public/trendytech/lendingclubproject/cleaned/loans_defaulters_delinq_parquet'
""")

++
||
++
++

In [20]:
spark.sql("""
CREATE EXTERNAL TABLE lending_club_proj_6879.loans_defaulters_detail_rec_enq(member_id string,
pub_rec integer, pub_rec_bankruptcies integer, inq_last_6mths integer) stored
as parquet LOCATION '/public/trendytech/lendingclubproject/cleaned/loans_defaulters_detail_records_enq_parquet'
""")

++
||
++
++

In [21]:
spark.sql('use lending_club_proj_6879')

++
||
++
++

In [23]:
spark.sql('show tables').show(truncate = False)

+----------------------+-------------------------------+-----------+
|database              |tableName                      |isTemporary|
+----------------------+-------------------------------+-----------+
|lending_club_proj_6879|customers                      |false      |
|lending_club_proj_6879|loans                          |false      |
|lending_club_proj_6879|loans_defaulters_delinq        |false      |
|lending_club_proj_6879|loans_defaulters_detail_rec_enq|false      |
|lending_club_proj_6879|loans_repayments               |false      |
+----------------------+-------------------------------+-----------+